body {
    background-color: #282828;
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}
/*header*/
Header {
    margin-bottom: -5px;
}
#HeaderMain {
    background-color: #ffffff;
    display: inline-block;
    height: 116px;
    position: relative;
    width: 1400px;
}
#logo {
    color: #ee8129;
    float: left;
    font-family:  'Open Sans', sans-serif;;
    font-size: 36px;
    margin-left: 189px;
    vertical-align: middle;
}
#logo > p > span {
    color: #3070a8;
    font-weight: 800;
    text-transform: uppercase;
}
#topMenu {
    display: inline-block;
    float: right;
    font-size: 14px;
    height: 67px;
    position: absolute;
    right: 185px;
    top: 50px;
}
#topMenu > ul {
    display: inline-block;
    height: 100%;
}
#topMenu > ul > li {
    color: #9f9f9f;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 53px;
    margin-right: 40px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
#topMenu > ul > li:last-child {
    margin-right: 0;
}
#topMenu > ul > li:hover {
    color: #3070a8;
    border-bottom: solid 4px #3070a8;
    height: 49px;
}
/*end header*/
/*main banner*/
#mainBanner {
    background-image: url("images/mainBanner.png");
    color: #ffffff;
    height: 585px;
    margin-top: -41px;
    text-align: center;
    width: 1400px;
}
#mainBanner .firstP {
    display: block;
    font-family: "Futura Bk BT";
    font-size: 36px;
    padding-top: 140px;
}
#mainBanner > p > span{
    font-family: "Futura Md BT";
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}
#mainBanner .italic {
    font-family: Calibri;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: -15px;
}
#mainBanner > form > button, button:active, button:focus {
    background: none;
    border: solid 1px #98a8b5;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 56px;
    margin-top: 16px;
    text-transform: uppercase;
    width: 244px;
}
/*end mine banner*/
/*rings*/
#rings {
    background-color: #ffffff;
    height: 564px;
    margin-top: -21px;
    text-align: center;
    width: 1400px;
}
#rings > h1 {
    color: #41525c;
    font-family: "Trebuchet MS";
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 49px;
    padding-top: 58px;
    text-transform: uppercase;
}
.rings {
    float: left;
    text-align: center;
}
.ringBanner {
    display: inline-block;
    margin-right: 55px;
    width: 309px;
}
.ringBanner > h2 {
    color: #3070a8;
    font-family: "Futura Bk BT";
    font-size: 30px;
    letter-spacing: 3px;
    margin: 20px 0;
    text-transform: uppercase;
}
.ringBanner > p {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
#ringBanner1 {
    margin-left: 168px;
}
#ringBanner2 {

}
#ringBanner3 {

}
/*end rings*/
/*middle*/
#middle {
    background-image: url("images/middlebg.png");
    height: 577px;
    margin-top: -18px;
    width: 1400px;
}
#middle > h1{
    color: #ee8129;
    font-family: "Futura Bk BT";
    font-size: 26px;
    line-height: 1.8;
    margin-left: 180px;
    padding-top: 81px;
    text-transform: uppercase;
}
#middle > p{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-style: italic;
    margin-left: 180px;
    margin-top: -10px;
}
#middle >ul {
    margin-left: 180px;
}
#middle > ul > li {
    color: #9d9d9d;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
    list-style: none;
    margin-left: -10px;
    padding-left: 10px;
    position: relative;
}
#middle > ul > li:before {
    content: url("images/pointGrey.png");
    position: absolute;
    left: -10px;
}
#middle .blue:before {
    content: url("images/pointBlue.png");
    position: absolute;
    left: -10px;
}
#middle .blue{
    color: #3070a8;
}
/*end middle*/
/*banner*/
#banner{
    background-color: #ffffff;
    font-family: "Trebuchet MS";
    display: inline-block;
    margin: auto;
    padding-bottom: 86px;
    width: 1400px;
}
#banner h1{
    color: #41525c;
    font-size: 170%;
    padding-bottom: 40px;
    padding-top: 30px;
    text-align: center;
}
#offers {
    padding-bottom: 68px;
    position: relative;
    width: 900px;
    margin: auto;
}
/*Банер*/
#box {  background-color: #ee8129;
    border-radius: 5px;
    border: 4px solid #ee8129;
    box-shadow: 0 0 7px #cde2ee;
    display: inline-block;
    float: left;
    position: relative;
    width: 290px;
    z-index: 2;
}
.bannerLogo {
    position: relative;
    text-align: center;
    color: #ffffff;
    display: block;
    font-size: x-large;
    font-weight: bold;
    height: 73px;
    line-height: 73px;
}
.bannerBox {
    background-color: #ffffff;
}
.bannerBox span {
    color: #3f4042;
    font-size: x-large;
}
.bigText {
    background-color: #fff;
    padding-top: 23px;
    text-align: center;
    width: 290px;
}
.bigText span{
    text-align: center;
}
.price {
    font-weight: bold;
    margin: auto;
    padding-left: 15px;
    width: 245px;
}
.price ul li {
    color: #35495a;
    display: inline-block;
    position: relative;
}
.price ul li:first-child {
    font-size: 120%;
    top: -35px;
}
.price ul li:last-child{
    margin-left: -8px;
    top: 10px;
}
.number {
    font-size: 400%;
}
.proposing {
    margin: 0 auto;
    padding-top: 1px;
    width: 260px;
}
.proposing ul{
    background-color: #edf5fd;
    color: #91949c;
    list-style-type: none;
}
.proposing ul li {
    border-bottom: solid 1px #ffffff;
    height: 34px;
    margin-left: -10px;

}
.proposing ul li:before{
    content: url(images/point.png);
    margin-right: 15px;
}
.proposing ul li:nth-child(even) {
    background-color: #f5f5f6;
}
.button {
    background-color: #ee8129;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #b1561b;
    color: #ffffff;
    display: block;
    font-size: 90%;
    font-weight: bold;
    height: 45px;
    margin: auto;
    width: 252px;
}
.button:active {
    box-shadow: #b3560b 4px;
    height: 45px;
}
form {
    padding-bottom: 30px;
}
/*Left Banner*/
#leftBanner {
    border-top: 1px solid #cde2ee;
    border-left: 1px solid #cde2ee;
    border-bottom: 1px solid #cde2ee;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    float: left;
    margin-top: 13px;
    width: 290px;
}
#leftBanner .bannerLogo{
    background-color: #37c2d3;
    border-radius: 5px 0 0 0;
    height: 63px;
    line-height: 63px;
}
#leftBanner .button{
    background-color: #3371a6;
    border: none;
    border-bottom: 3px solid #16436a;
}
#leftBanner .price{
    padding-left: 30px;
}
/*Right Banner*/
#rightBanner {
    border-top: 1px solid #cde2ee;
    border-right: 1px solid #cde2ee;
    border-bottom: 1px solid #cde2ee;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    float: left;
    margin-top: 13px;
    width: 290px;
}
#rightBanner .bannerLogo{
    background-color: #1cb79a;
    border-radius: 0 5px 0 0;
    height: 63px;
    line-height: 63px;
}
#rightBanner .button{
    background-color: #3371a6;
    border: none;
    border-bottom: 3px solid #16436a;
}
#rightBanner .price {
    padding-left: 30px;
}
/*end banner*/
/*recall*/
#WriteUs {
    background-image: url("images/bg.png");

}
#WriteUs h1{
    color: #3170a8;
    text-align: center;
    line-height: 0.6;
    padding-bottom: 40px;
    padding-top: 58px;
    margin: 0px;
}
#WriteUs h1 span{
    color: #ee8129;
}
#reviewer {
    display: inline-block;
    max-width: 100%;
    position: relative;
    top:5px;
    margin-bottom: 79px;
}
#reviewer > div{
    display: inline-block;
    position: relative;
}
#reviewer > div > img {
    margin-right: 11px;
}
.reviewerHead > div {
    color: #3070a8;
    display: inline-block;
    padding-bottom: -25px;
}
.reviewerHead {
    line-height: 0.3;
    font-style: italic;
    position: relative;

}
.who {
    margin-left: 15px;
}
.who p:before{
    content: " - ";
    padding-right: 5px;
}
.who2 {
    position: absolute;
    right: 19px;
}
.text {
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    border-left: none;
    color: #666;
    max-height: 96px;
    max-width: 362px;
    line-height: 1.2;
    top: 1px;
}
.arrow {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    margin-right: -4px;
    margin-bottom: 34px;
}

#girl {
    margin-left: 180px;
    max-width: 500px;
}
#girl > div {
    display: inline-block;
    position: relative;
}
#boy {
    margin-right: 188px;
}
#boy > div {
    display: inline-block;
    position: relative;
}
#girl {
    margin-right: 42px;
}
.clearReview p {
    display: inline-block;
    margin-left: 18px;
    position: relative;
    bottom: 10px;
    border-top: dashed 1px #666;
    padding-top: 10px;
    width: 90%;
}
.clearReview {
    position: relative;
}
/*end recall*/
/*about*/
#about {
    height: 345px;
    width: 1400px;
}
#map {
    background-image: url("images/map.png");
    display: inline-block;
    height: 345px;
    width: 704px;
}
#contacts {
    background-color: #ffffff;
    display: inline-block;
    float: left;
    height: 345px;
    width: 696px;
}
#contacts ul {
    padding-top: 22px;
}
#contacts li {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.5;
    list-style: none;
    margin-left: 200px;
    padding-bottom: 5px;
    position: relative;
}
#address:before {
    content: url("images/address.png");
    left: -56px;
    position: absolute;
}
#phone:before {
    content: url("images/phone.jpg");
    left: -58px;
    position: absolute;
}
#mail:before {
    content: url("images/mail.jpg");
    left: -60px;
    position: absolute;
}
#social {
    margin-left: 180px;
    margin-top: -8px;
}
#social img {
    margin-right: 18px;
}
#clean {
    float: none;
}
/*End about*/
/*footer*/
footer {
    background-color: #3070a8;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 105px;
    margin-top: -20px;
    text-align: center;
    width: 1400px;
}
footer p:first-child {
    padding-top: 25px;
}
footer p:first-child span{
    font-weight: bold;
}
footer p:last-child span{
    color: #000000;
    font-weight: bold;
}
/*End footer*/